@charset "utf-8";

// **************************** 省市县三级联动 **********************************
.mocAreaSelect{
    width: 418px;
    height: 360px;
    border: #cccccc 1px solid;
    padding: 0px 16px;
    background: #ffffff;
    position: absolute;
    left: 0px;
    top: 100%;
    margin-top: -1px;
    display:none;
    z-index: 99;
    .mocAreaSelect-close{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: url(../../images/widget/close2.png) no-repeat center;
        cursor: pointer;
        &:hover{
            background: url(../../images/widget/close2on.png) no-repeat center;
        }
    }
    .mocAreaSelect-head{
        padding-top: 14px;
        height: 26px;
        border-bottom: #ed7f5a 2px solid;
    }
    .mocAreaSelect-head-list{
        float: left;
        height: 25px;
        line-height: 25px;
        background-color: #ffffff;
        border: #dddddd 1px solid;
        border-bottom: none;
        margin-right: 4px;
        padding-left: 16px;
        padding-right: 30px;
        background-image: url(../../images/widget/wareSortTop.png);
        background-repeat: no-repeat;
        background-position: right 9px;
        cursor: pointer;
        &.active {
            height: 26px;
            line-height: 26px;
            border: #ed7f5a 2px solid;
            border-bottom: none;
            display: block;
        }
        &.hide{
            display: none;
        }
    }
    .mocAreaSelect-body {
        height: 300px;
        margin-top: 4px;
        position: relative;
    }
    .mocAreaSelect-ul{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        &.hide{
            display: none;
        }
        li{
            float: left;
            margin-right: 20px;
            line-height: 22px;
            margin-top: 6px;
            padding: 0 10px 0 9px;
            cursor: pointer;
            &.active,&:hover{
                color: #ffffff;
                background-color: #ed7f5a;
            }
        }
    }
}








