@charset "utf-8";

.cascader{
	width: 220px;
}
.cascader-rel{
	padding-right: 28px;
	height: 32px;
	line-height: 32px;
	border: #ccc 1px solid;
	cursor: pointer;
	position: relative;
	&.disabled{
		background-color: #f8f8f8;
		border: #e1e1e1 1px solid;
		cursor: not-allowed;
		.cascader-input{
			cursor: not-allowed;
		}
	}
}
.cascader-input{
	width: 100%;
	text-indent: 8px;
	cursor: pointer;
	background-color: transparent;
}
.cascader-arrow{
	@include caret;
	position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    margin-top: -3px;
    font-size: 14px;
    color: #9ea7b4;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 5;
}
.cascader-visible{
	.cascader-arrow{
		transform:rotate(540deg);
		-ms-transform:rotate(540deg); 	/* IE 9 */
		-moz-transform:rotate(540deg); 	/* Firefox */
		-webkit-transform:rotate(540deg); /* Safari 和 Chrome */
		-o-transform:rotate(540deg); 	/* Opera */
	}
}
.cascader-clear{
	width: 14px;
	height: 14px;
	position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -7px;
    z-index: 9;
    
    display: none;
	background: #ccc url(../../images/widget/close2-white.png) no-repeat center;
	cursor: pointer;
}
.cascader-show-clear:hover{
	.cascader-clear{
		display: block;
	}
}
.cascader-dropdown{
	position: absolute;
	width: auto;
    padding: 0;
    white-space: nowrap;
    overflow: visible;
    max-height: 200px;
    margin: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 90;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    font-size: 0;
    letter-spacing: -4px;
    display: none;
}
.cascader-menu{
	display: inline-block;
    min-width: 100px;
    height: 180px;
    margin: 0;
    padding: 5px 0;
    vertical-align: top;
    list-style: none;
    border-right: 1px solid #e3e8ee;
    overflow: auto;
    font-size: 14px;
    letter-spacing: normal;
    &:last-child {
	    border-right: 0 transparent;
	}
}
.cascader-menu-item{
	margin: 0;
    padding: 7px 16px;
    clear: both;
    color: #657180;
    font-size: 12px!important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover {
	    background-color: #f3f3f3;
	}
	&.active {
	    background-color: #f3f3f3;
	    color: #39f;
	}
	&.disabled{
		color: #c0c4cc;
	    background-color: #fff;
		cursor: not-allowed;
		.cascader-menu-item-right{
			opacity: 0.5;
		}
	}
}
.cascader-menu-item-right{
	width: 10px;
	height: 10px;
	position: absolute;
	right: 8px;
	top: 10px;
	background: url(../../images/widget/prev-next.png) no-repeat -28px 0;
}