@charset "utf-8";

// **************************** flying 双飞翼布局的样式 **********************************
.flying{
    border: #ddd 1px solid;
    @include clearfix;
}
.flying-middle,
.flying-aside,
.flying-extra{
    float: left;
}
.flying-middle{
    width: 100%;
}
$flying-aside: 211px;
$flying-extra: 211px;
.flying-content{
    min-height: 1px;
    margin-left: $flying-aside;
    margin-right: $flying-extra;
    padding: 0 20px;
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
    background-color: #ffffff;
}
.flying-aside{
    width: $flying-aside;
    margin-left: -100%;

    height: 100%;

    border-right: #ddd 1px solid;
    *border-right: 0 none;
    *width: $flying-aside+1;
}
.flying-extra{
    width: $flying-extra;
    margin-left: -( $flying-extra + 1 );
    border-left: #ddd 1px solid;
}
/* 不同的样式 */
.flying-primary{
    background-color: #f2f2f2;
}
// 结束


// **************************** flex-box 盒布局的样式 **********************************
.flexbox{
    @include displayFlex;
    @include boxOrient($orient:horizontal);
}
.flexbox-vertical{
    @include displayFlex;
    @include boxOrient;
}
.flexbox-head,
.flexbox-foot{
    
}
.flexbox-body{
    position: relative;
    @include displayFlexNumber;
}
.flexbox-body-inner{
    @include box-inner;
}
// 结束
