@charset "utf-8";

// **************************** 注册字体 **********************************
@font-face{
    font-family: 'microsoft yahei';
    src:url('font/yuehei.ttf') format('truetype'),
        url('font/yuehei.eot') format('embedded-opentype'),
        url('font/yuehei.otf'), 
        url('font/yuehei.svg') format('svg');
        
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "SourceHanSansCN-Light";
    src: url("../font/SourceHanSansCN-Light.otf"), url("../font/SourceHanSansCN-Light.ttf");
    
    font-family: "SourceHanSansCN-Normal";
    src: url("../font/SourceHanSansCN-Normal.otf");
    
    font-family: "SourceHanSansCN-Regular";
    src: url("../font/SourceHanSansCN-Regular.otf");
}


// 结束
