@charset "utf-8";

// *****************************  images-list 图片列表的样式 ***********************************
.images-box{
    @extend %clearfix;
}
.images-list{
    display: block;
    float: left;
    margin-left: 12px;
    &:first-child{
        margin-left: 0;
    }
    img{
        max-height: 100%;
        max-width: 100%;
    }
}
// 图片居中
.images-box-center{
    .images-list{
        width: 300px;
        height: 300px;
        border: #ccc 2px solid;

        @include img-center;
    }
}
// 结束





